---
import GraphicSpecie from "../components/GraphicSpecie.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout>
    
    <div class="carousel w-full">
        <div id="slide1" class="carousel-item relative w-full">
            <GraphicSpecie specie="Adelie" />
            <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                <a href="#slide3" class="btn btn-circle">❮</a>
                <a href="#slide2" class="btn btn-circle">❯</a>
            </div>
        </div>
        <div id="slide2" class="carousel-item relative w-full">
            <GraphicSpecie specie="Chinstrap" />
            <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                <a href="#slide1" class="btn btn-circle">❮</a>
                <a href="#slide3" class="btn btn-circle">❯</a>
            </div>
        </div>
        <div id="slide3" class="carousel-item relative w-full">
            <GraphicSpecie specie="Gentoo" />
            <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                <a href="#slide2" class="btn btn-circle">❮</a>
                <a href="#slide1" class="btn btn-circle">❯</a>
            </div>
        </div>
    </div>
    <div class="flex justify-center w-full py-2 gap-2">
        <select id="specieSelect" class="select select-bordered" onchange="document.location.href = this.value">
            <option value="#slide1">Adelie</option>
            <option value="#slide2">Chinstrap</option>
            <option value="#slide3">Gentoo</option>
        </select>
    </div>

</Layout>