<div class="navbar bg-base-100 shadow-sm">
  <div class="flex-1">
    <a href="/" class="btn btn-ghost text-xl">TP 3</a>
  </div>
  <div class="flex gap-4">
    <select class="select select-primary border-4" onchange="window.location.href = '/species/' + this.value">
      <option disabled selected>Choisir une espece</option>
      <option value="Adelie">Adelie</option>
      <option value="Gentoo">Gentoo</option>
      <option value="Chinstrap">Chinstrap</option>
    </select>
    <select class="select select-primary border-4" onchange="window.location.href = '/' + this.value">
      <option disabled selected>Choisir une page</option>
      <option value="ancre">ancre</option>
      <option value="test-iframe">test-iframe</option>

    </select>
  </div>
</div>